@import '../../utils/variables';

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 30px;
    border-radius: 20px;
    background-color: $white-color;

    &__header {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 700;
    }

    &__btn {
        align-self: flex-end;
        padding: 10px 15px;
        border: none;
        border-radius: 8px;
        font-weight: 700;
        color: $white-color;
        background-color: $font-color;
        cursor: pointer;
    }

    .input {
        margin-bottom: 15px;
    }
}
